[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmlrunner = "*"
structlog = "*"
pyyaml = "*"
configargparse = "*"
aiofiles = "*"
httpx = "*"
aiocsv = "*"
humanize = "*"

[dev-packages]
pylint = "*"
asynctest = "*"
ddt = "*"

[requires]
python_version = "3.10"
